#han_tree,#my_tree {
  width: 100%;
  height: 300px;
  display: block;
  /*border: 1px solid #000;*/
}

ul.treelist{
	width: 100%;
	list-style: none;
}
ul.treelist li{
	width: 49%;
	display: inline-table;
}

.myCustomClass{
	 border-color: rgb(0,190,0);
	 background-color: #ddd;
	 width: 900px;
    height: 200px;
}
.myCustomClass .qtip-content{
    font-size: 12px;
    border-color: rgb(0,190,0);
	 background-color: #ddd;
	 width: 900px;
    height: 200px;
}

h4.cosseno{
	margin-left: 174px;
	font-weight: bold;
}
span.differ{
	background: #DFF80B;
}